LogicAppStatus/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "office365users_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365users"
    },
    "office365users_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "DavidSigemo@Blargh.onmicrosoft.com"
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "DavidSigemo@Blargh.onmicrosoft.com"
    },
    "sharepointonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sharepointonline"
    },
    "sharepointonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "DavidSigemo@Blargh.onmicrosoft.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Switch": {
              "type": "Switch",
              "expression": "@triggerBody()?['Status']?['Value']",
              "cases": {
                "Case": {
                  "case": "2 Förslag klart 14/4",
                  "actions": {
                    "Send_approval_email": {
                      "type": "ApiConnectionWebhook",
                      "inputs": {
                        "host": {
                          "api": {
                            "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/office365"
                          },
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "path": "/approvalmail/$subscriptions",
                        "body": {
                          "NotificationUrl": "@listCallbackUrl()",
                          "Message": {
                            "To": "@{triggerBody()?['AdministrativeOfficer']?['Email']}",
                            "Subject": "Approval Request",
                            "Options": "Approve, Reject",
                            "Body": "<div><h1>Hej @{triggerBody()?['AdministrativeOfficer']?['DisplayName']}</h1><br><div><p>Ärendet @{triggerBody()?['Title']} har uppdaterats och behöver ditt godkännande.</p><p>Var god läs igenom <a href=\"https://blargh.sharepoint.com/sites/motionshanteringexjobb/Motionshantering/yttranden/DispForm.aspx?ID=@{triggerBody()?['ID']}\">följande ärende</a> och godkänn med hjälp av knappar nedan</p>    </div></div>",
                            "Importance": "Normal"
                          }
                        }
                      },
                      "runAfter": {}
                    },
                    "Condition": {
                      "type": "If",
                      "expression": "@equals(body('Send_approval_email'), 'Approve')",
                      "actions": {
                        "Update_item": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "api": {
                                "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/sharepointonline"
                              },
                              "connection": {
                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                              }
                            },
                            "method": "patch",
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://blargh.sharepoint.com/sites/motionshanteringexjobb/Motionshantering'))}/tables/@{encodeURIComponent(encodeURIComponent('41c55412-3399-4fdd-b331-d09b46a34896'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                            "body": {
                              "Title": "@{triggerBody()?['Title']} - UPPDATERAD",
                              "OrderNumberLgr": "@triggerBody()?['OrderNumberLgr']",
                              "OrderNumberBoard": "@triggerBody()?['OrderNumberBoard']",
                              "OrderNumberBook": "@triggerBody()?['OrderNumberBook']"
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Send_approval_email": [
                          "Succeeded"
                        ]
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_an_existing_item_is_modified": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/sharepointonline"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://blargh.sharepoint.com/sites/motionshanteringexjobb/Motionshantering'))}/tables/@{encodeURIComponent(encodeURIComponent('41c55412-3399-4fdd-b331-d09b46a34896'))}/onupdateditems"
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 3
              },
              "splitOn": "@triggerBody()?.value"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              },
              "sharepointonline": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]",
                "connectionName": "[parameters('sharepointonline_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365users_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]"
        },
        "displayName": "[parameters('office365users_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sharepointonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"
        },
        "displayName": "[parameters('sharepointonline_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}